localhost, sometestapps.ru {
	tls internal

	handle /images/* {
		file_server
		root * /app/public
	}

	handle {
		reverse_proxy {
			to app:3000

			@error status 502
			handle_response @error {
				root * /app/services/caddy/errors
				rewrite * /502.html
				file_server
  			}
		}
	}

	log {
		format json
	}
}
